doctype html 
html 
  head 
    title= `${title}`

    body 
      h1 My Amazing App 

      block content 
        if errors 
          ul 
            for error in errors 
              li= error.msg 